        <section>
            <div class="container">
                <footer>
                    <div>
                        <p>© {{year}}</p>
                        <p>Gravma Solutions</p>
                    </div>
                    <div>
                        <form action="/contact" method="POST">
                            <h5>Contact Us</h5>
                            <p>Send us a message or inquiry.</p>
                            <div>
                                <input type="text" name="name" placeholder="Your Name" required>
                                <input type="email" name="email" placeholder="Your Email" required>
                                <textarea name="message" placeholder="Your Message" required></textarea>
                                <button type="submit">Send</button>
                            </div>
                        </form>
                    </div>
                </footer>
            </div>
        </section>
    </body>
</html>