{% extends "base.html" %}
{% block content %}
 {{ super() }} 
 <div style="max-width: 700px; margin: 48px auto 32px auto; padding: 32px 24px; background: #f8f9fa; border-radius: 16px; box-shadow: 0 2px 16px rgba(0,0,0,0.05); text-align: center;">
    <h1 style="color: #2980b9; margin-bottom: 18px;">Calvary Mission </h1>
    <p style="font-size: 1.15rem; color: #444; margin-bottom: 16px;">
    At <strong>Calvary Mission</strong>, we are driven by a passion to serve, uplift, and transform lives through the love of Christ.
    Our mission is rooted in faith, compassion, and a commitment to holistic community development-spiritually, socially and economically.
    </p>
    <p style="font-size: 1.15rem; color: #444; margin-bottom: 16px;">
    Through evangelism, education, healthcare, and empowerement initiatives, we strive to bring hope to the marginalised, nurture disciples of Christ,
    and buid a brighter future for East Africa. Join us as we work together to fulfill God's purpose!
    </p>
    <p style="color: #2980b9; margin-bottom: 24px"><em>"Therefore go and make disciples of all nations..." -Matthew 28:19</em></p>    
    <div style="display: flex; align-items: center; justify-content: center; gap: 24px; margin-bottom: 32px;">
        <img src="static/images/Calvary_director.jpeg" alt="" style="width: 120px; height: 120px; object-fit: cover; border-radius: 50%; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); background: #eaeaea;">
        <div style="text-align: left;">
            <span style="font-weight: bold; font-size: 1.1rem;">Rev. Dr. Dominic Karanja Gitau </span><br>
                
                <small style="color: #2980b9;">Chancellor & Founder</small>
            </div>
    </div>        
</div>

{% endblock %}

